In [1]:
import pandas as pd

from zipfile import ZipFile

In [2]:
# Paths to the files.
ver_006_path = '../data/corona_tested_individuals_ver_006.english.csv.zip'
ver_0083_path = '../data/corona_tested_individuals_ver_0083.english.csv.zip'

In [3]:
ver_006 = pd.read_csv('../data/corona_tested_individuals_ver_006.english.csv.zip', low_memory=False, memory_map=True)

ver_006.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-04-30,0,0,0,0,0,negative,None,female,Other
1,2020-04-30,1,0,0,0,0,negative,None,female,Other
2,2020-04-30,0,1,0,0,0,negative,None,male,Other
3,2020-04-30,1,0,0,0,0,negative,None,female,Other
4,2020-04-30,1,0,0,0,0,negative,None,male,Other

In [5]:
ver_0083_zip = ZipFile(ver_0083_path)

ver_0083 = pd.read_csv(ver_0083_zip.open('corona_tested_individuals_ver_0083.english.csv'), low_memory=False)

ver_0083.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-11-12,0,0,0,0,0,negative,No,male,Other
1,2020-11-12,0,1,0,0,0,negative,No,male,Other
2,2020-11-12,0,0,0,0,0,negative,Yes,female,Other
3,2020-11-12,0,0,0,0,0,negative,No,male,Other
4,2020-11-12,0,1,0,0,0,negative,No,male,Contact with confirmed