In [1]:
import pandas as pd

from zipfile import ZipFile

# Reading the data

In [2]:
# Paths to the files.
ver_006_path = '../data/corona_tested_individuals_ver_006.english.csv.zip'
ver_0083_path = '../data/corona_tested_individuals_ver_0083.english.csv.zip'
ver_00220_path = '../data/corona_tested_individuals_ver_00220.english.zip'

In [3]:
# Read the first file into memory.
ver_006 = pd.read_csv(ver_006_path, parse_dates=['test_date'], low_memory=False, 
                      memory_map=True)

ver_006.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-04-30,0,0,0,0,0,negative,None,female,Other
1,2020-04-30,1,0,0,0,0,negative,None,female,Other
2,2020-04-30,0,1,0,0,0,negative,None,male,Other
3,2020-04-30,1,0,0,0,0,negative,None,female,Other
4,2020-04-30,1,0,0,0,0,negative,None,male,Other

In [4]:
ver_006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   test_date            278848 non-null  datetime64[ns]
 1   cough                278848 non-null  object
 2   fever                278848 non-null  object
 3   sore_throat          278848 non-null  object
 4   shortness_of_breath  278848 non-null  object
 5   head_ache            278848 non-null  object
 6   corona_result        278848 non-null  object
 7   age_60_and_above     278848 non-null  object
 8   gender               278848 non-null  object
 9   test_indication      278848 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 21.3+ MB

In [5]:
ver_006.loc[:, 'test_date'].min(), ver_006.loc[:, 'test_date'].max()

(Timestamp('2020-03-11 00:00:00'), Timestamp('2020-04-30 00:00:00'))

In [6]:
# Read the second file into memory, but it's got multiple files in due to being created on macOS, so need to use ZipFile class.
ver_0083_zip = ZipFile(ver_0083_path)

ver_0083 = pd.read_csv(ver_0083_zip.open('corona_tested_individuals_ver_0083.english.csv'), parse_dates=['test_date'], low_memory=False)

ver_0083.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-11-12,0,0,0,0,0,negative,No,male,Other
1,2020-11-12,0,1,0,0,0,negative,No,male,Other
2,2020-11-12,0,0,0,0,0,negative,Yes,female,Other
3,2020-11-12,0,0,0,0,0,negative,No,male,Other
4,2020-11-12,0,1,0,0,0,negative,No,male,Contact with confirmed

In [7]:
ver_0083.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2742596 entries, 0 to 2742595
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   test_date            2742596 non-null  datetime64[ns]
 1   cough                2742596 non-null  int64
 2   fever                2742596 non-null  int64
 3   sore_throat          2742596 non-null  int64
 4   shortness_of_breath  2742596 non-null  int64
 5   head_ache            2742596 non-null  int64
 6   corona_result        2742596 non-null  object
 7   age_60_and_above     2194952 non-null  object
 8   gender               2649710 non-null  object
 9   test_indication      2742596 non-null  object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 209.2+ MB

In [8]:
# This version is much larger than the previous one.
ver_0083.loc[:, 'test_date'].min(), ver_0083.loc[:, 'test_date'].max()

(Timestamp('2020-03-11 00:00:00'), Timestamp('2020-11-12 00:00:00'))

In [9]:
# Read the final, extended file, into memory.
ver_00220 = pd.read_csv(ver_00220_path, parse_dates=['test_date'], low_memory=False, memory_map=True)

ver_00220.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2022-01-30,0,0,0,0,0,positive,No,female,Other
1,2022-01-30,0,0,0,0,0,positive,No,female,Other
2,2022-01-30,0,0,0,0,0,positive,No,male,Other
3,2022-01-30,0,0,0,0,0,positive,No,female,Other
4,2022-01-30,0,0,0,0,0,positive,No,female,Other

In [10]:
ver_00220.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8890301 entries, 0 to 8890300
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   test_date            8890301 non-null  datetime64[ns]
 1   cough                8890301 non-null  int64
 2   fever                8890301 non-null  int64
 3   sore_throat          8890301 non-null  int64
 4   shortness_of_breath  8890301 non-null  int64
 5   head_ache            8890301 non-null  int64
 6   corona_result        8890301 non-null  object
 7   age_60_and_above     6860335 non-null  object
 8   gender               8226393 non-null  object
 9   test_indication      8890301 non-null  object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 678.3+ MB

In [11]:
# This extended file has data all the way to 2022, so we should use this.
ver_00220.loc[:, 'test_date'].min(), ver_00220.loc[:, 'test_date'].max()

(Timestamp('2020-03-11 00:00:00'), Timestamp('2022-01-30 00:00:00'))

In [12]:
# As this version of the file has the most data, select this as the data to use going forward.
data = ver_00220.copy()